nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  gap: 75px;
}

nav a {
  text-decoration: none;
  color: rgb(48, 48, 48);
}

nav a:hover {
  color: rgb(165, 165, 165);
  transition: all 0.3s;
}

nav a svg {
  margin-right: 5px;
}
