.recruitmentPage {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: white;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 10px 40px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid;
  border-color: #e7e7e7;
}

.container .inputItem {
  margin: 10px 0 3px 0;
}

.container .fontIcon {
  margin-right: 3px;
  color: rgb(105, 83, 51);
}

.container h2 {
  text-align: left;
}

.container input {
  height: 30px;
  width: 70%;
  outline: none;
  border: thin solid rgb(187, 187, 187);
  border-radius: 8px;
}

.container textarea {
  height: 100px;
  width: 70%;
  outline: none;
  border: thin solid rgb(187, 187, 187);
  border-radius: 8px;
}

.container select {
  height: 30px;
  width: 150px;
  outline: none;
  border: thin solid rgb(187, 187, 187);
  border-radius: 8px;
}

.inputPost {
  width: 100%;
  padding: 10px;
}

.postButton {
  width: 200px;
  padding: 15px 20px;
  background-color: rgb(100, 92, 83);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 25px;
}

.postButton:hover {
  background-color: rgb(138, 127, 115);
}
