.recruitmentPage {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  background-color: white;
  border-radius: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 10px 40px;
  margin: 20px;
}

.container h2 {
  text-align: left;
}

.container input {
  height: 20px;
  width: 70%;
  outline: none;
}

.container textarea {
  height: 100px;
  width: 70%;
  outline: none;
}

.inputPost {
  width: 100%;
  padding: 10px;
}

.postButton {
  width: 200px;
  padding: 15px 20px;
  background-color: rgb(100, 92, 83);
  color: white;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin: 5px;
}

.postButton:hover {
  background-color: rgb(138, 127, 115);
}
