.recruitmentPage {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* height: 90vh; */
}

.container {
  background-color: white;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 70%;
  padding: 10px 40px;
  margin: 20px;
}

.inputPost {
  padding: 10px;
}

h1 {
  text-align: center;
}

input {
  height: 20px;
  width: 400px;
}

textarea {
  height: 100px;
  width: 400px;
}
